<html>
    
<body> 
    
    <div class="container" id="page-content">
        <!-- Content here -->
        <div class="row">
            <div class="col-sm-4">
                <img id="profile-pic" src="https://avatars3.githubusercontent.com/u/11655736?s=400&u=75e9576fc25c11137d943cc3a243e4ec6e238fb0&v=4" alt="Profile Image">
            </div>
            <div class="col-sm-8">
                <center> <h1 class="display-3">Madhu Nepal</h1></center>
                <center> <p1 class="lead">Software / Web Developer </p1></center>
                <h3>About Me</h3>

                <p>
                    When I was in grade 9 a teacher couldn’t explain me “How does display come when we press a key” then I dropped his class and started learning my own because IT was in my blood so couldn’t give up. After  learning and working for more than 6 years, I realized the importance of in class training to be full stack developer then I joined I/O Ave  which taught me back end coding by using Ruby on Rails, code management by using github, front end by using HTML5, CSS3 and JS with JQuery. IO Ave didn’t teach me only coding but also taught Agile management and team works. Now I am capable of coding in Ruby on Rails, Java, Python, C#, HTML5, CSS3, JS, JQuery and develop confident that I can learn any technology.
                </p>
    <p class="lead">
    <a id="purple-button" class="btn btn-outline-primary btn-lg" href="https://github.com/madhunepal" role="button">GitHub</a>
    <a id="purple-button" class="btn btn-outline-primary btn-lg" href="https://www.linkedin.com/in/madhunepal/" role="button">LinkedIn</a>
     
    
    </p>
               
                
            </div>
        </div>
    </div>

  
   
<!--        -->
 
      
      
  <hr class="my-4">
  <p></p>
  
<!--     
  <p class="lead">
             <ul class="social">
                <li><a href="https://twitter.com/madhunepa" class="twit" title="Twitter"><i class="fa fa-twitter"></i>Twitter</a></li>
                <li><a href="https://www.facebook.com/Manepal" class="face" title="Facebook"><i class="fa fa-facebook"></i>FaceBook</a></li>
                <li><a href="https://github.com/madhunepal" class="git" title="Github"><i class="fa fa-github"></i>GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/madhunepal/" class="linkedin" title="Linkedin"><i class="fa fa-linkedin"></i>LinkedIn</a></li>
            </ul>	  
    </p>
</div>
   Your content goes here
-->
    <p>
email me:
<a href="mailto:mail@madhunepal.com?Subject=Hello%20Madhu" target="_top">mail@madhunepal.com</a>
</p>
      
    <!-- At the end of all your content, add Bootstrap JS here -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
    <script src="portfolio/main.js"></script>
    <footer>
    
</footer>
</html>
